* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: rgb(67, 67, 70);
    font-size: 1.8rem;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 6rem 10rem;
}

/* Headings */
h1 {
    font-size: 4.6rem;
    font-weight: 800;
}

h2 {
    font-size: 3.6rem;
    font-weight: 600;
}

h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
    font-weight: 200;
}

/* All unordered lists */
ul {
    list-style-type: none;
}

li {
    padding: 1rem;
}

/* All links */
a {
    color: rgb(12, 99, 12);
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    /* margin: 0.5rem 1rem; */
    margin-left: 1.5rem;
    /* padding: 1rem; */
}

.login-status {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: end;
    padding-right: 1rem;
}

hr {
    margin: 0.5rem 1rem 3rem 0;
}

.body-title {
    margin-bottom: 3rem;
}

.form-control {
    margin-bottom: 1rem;
    padding: 0.6rem;
}

.btn {
    margin-bottom: 1rem;
    padding: 0.6rem 4rem;
}

/* Categories */

/* Watchlist */
/* .watchlist-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 4rem;
}

.watchlist-item {
    margin: 0 1rem;
}

.remove-badge-wrap {
    color: rgb(233, 225, 225);
    margin: ;
    text-decoration: none; 
}

.remove-badge-wrap:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.remove-badge {
    height: 2.1rem;
    margin-bottom: 0.4rem;
} */

