{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create Listing</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value=""Submit>
        <!-- <div>
            <input type="text" name="title" palceholder="Listing Title">
        </div>
        <textarea name="description" cols="30" rows="10"></textarea>
        <input type="number" name="starting-bid">

        <input type="text" name="img-url">
        <select name="category">
            <option value="default">...</option>
            <option value="electronics">Electronics</option>
            <option value="home">Home</option>
            <option value="toys">Toys</option>
            <option value="fasshion">Fashion</option>
        </select> -->

    </form>
{% endblock %}