{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Listing: {{ item.title }}</h1>
    {% if user.is_authenticated %}
        <!-- # Watchlist Add button -->
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <!-- # item.id or item.author -->
            <input name="submit-to-watchlist" type="submit" value="Add to Watchlist">
        </form>
    {% endif %}
    
    

    <!-- # - Watchlist tag -->
    <div>
        <span class="badge bg-secondary text-light">Watchlist</span>
    </div>

    <img src="{{ item.img_url }}" alt="{{ item.title }}-image" width="640">
    
    <h6>{{ item.description }}</h6>

    <!-- # TODO - This needs to be the actual/current bid/price. Get from Bids Model -->
    <h2>${{ item.starting_bid }}</h2>

    <!-- # TODO - Message: 2 bids so far. Your bid is the current bid -->
    <span>2 bids so far. Your bid is the highest bid.</span>

    <!-- # TODO - Input for placing bid. Place Bid submit button. Consider making Model and Form from it. -->
    <form action="" method="POST">
        <div>
            <input class="form-control" type="text">
        </div>
        <input class="btn btn-primary my-2" type="submit" value="Place Bid" placeholder="Bid">
    </form>

    <!-- # TODO - List details as author of listing, category, etc -->
    <h3>Details</h3>
    <ul>
        <li>Listed by: <a href="#">{{ item.author }}</a></li>
        <li>Category: {{ item.category }}</li>
    </ul>
{% endblock %}