{% extends 'auctions/layout.html' %}

{% block body %}
{% if user.is_authenticated %}
    <h2>My Watchlist</h2>
    <ul class="watchlist-list">
        {% for element in watchlist %}
        <li>
            <a class="watchlist-item" href="{% url 'item' element.item.id %}">
                {{ element }}
            </a>
            <a class="remove-badge-wrap" href="{% url 'remove' element.item.id %}">
                <span class="remove-badge badge bg-danger"> remove</span>
            </a>
            <!-- # https://stackoverflow.com/questions/13092268/how-do-you-join-two-tables-on-a-foreign-key-field-using-django-orm -->
            <!-- {{ element.item.title}}   -->
        </li>
        {% empty %}
            <li><span>There are no items in watchlist.</span></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}