{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>My Watchlist</h2>
    <ul>
        {% for element in watchlist %}
        <li>
            <span><a href="{% url 'item' element.id %}">{{ element }}</a></span>
            <span><a href="{% url 'remove' element.id %}"> remove</a></span>
            <!-- # https://stackoverflow.com/questions/13092268/how-do-you-join-two-tables-on-a-foreign-key-field-using-django-orm -->
            <!-- {{ element.item.title}}   -->
        </li>
        {% endfor %}
    </ul>
{% endblock %}